body {
  margin: 20px;
  padding: 0;
  background: #333;
}

.container {
  max-width: 760px;
  /* moves it to the middle */
  margin: auto;
  border: #fff solid 3px;
  background: #fff;
}

/* the img tags under the main-img class */
/* and the img tags under the imgs class */
.main-img img,
.imgs img {
  width: 100%;
}

.imgs {
  /* grid css */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}
